

{% extends "layout.html" %}
{% block content %}
  <h1> Welcome to the U Nightlife App</h1>
  <h2> Pick Your School:</h2>

  <a href="/location/531c09230de950460b09a032">Binghamton</a><br><br>
  <a href="/location/531e1c9a211f7e6e3ab391b5">University of Illinois</a><br><br>
  <a href="/location/531e1cdb211f7e6e3ab391b6">George Washington University</a><br><br>
  <a href="/location/531e1f1a211f7e6e3ab391b7">SUNY Oneonta</a><br><br>
  <a href="/location/531e1f64211f7e6e3ab391b8">Central Florida University</a><br><br>
  <a href="/location/531e1fad211f7e6e3ab391b9">Michigan State University</a><br><br>
  <a href="/location/531e1fdd211f7e6e3ab391ba">University of Michigan</a><br><br>
  <a href="/location/531e200e211f7e6e3ab391bb">Central Michigan University</a><br><br>
  <a href="/location/531e203f211f7e6e3ab391bc">University of Hawaii</a><br><br>
<!--   <a href="/auth/facebook">Login For All of Your Friends and Yours Events!</a><br><br> -->
 <!--  <a href="/YourEvents">All the Events Relevant to You!(Bing Student)</a> -->

  <!-- <h3>Events from My Friends:</h3>
  <ol>
  {% for friend in friends %}
  	<li>{{loop.key}}</li><br>
  	<ul>
  		{% for info in friend %}
  			<li>{{info}}</li><br>
  		{% endfor%}
  	</ul>
  {% endfor %}
	</ol>
<h3>My Events:</h3>
<ol>
   {% for event in myEvents %}
  	<li>{{loop.key}}</li><br>
  	<ul>
  		{% for info in event %}
  			<li>{{info}}</li><br>
  		{% endfor%}
  	</ul>
  {% endfor %} -->
<!--  <li>	<img src= "{{event}}" alt="If you can see this, then there is no cover photo for this event." height="-50px" width="85%"></li><br> -->
  </ol>

{% endblock %}
