

{% extends "layout.html" %}
{% block content %}
  <h1> Welcome to the U Nightlife App</h1>
  <h2> Pick Your School:</h2>

  <a href="/location/Binghamton">Binghamton</a><br><br>
  <a href="/location/University of Illinois at Urbana-Champaign">University of Illinois</a><br><br>
  <a href="/location/George Washington University">George Washington University</a><br><br>
  <a href="/location/Oneonta">SUNY Oneonta</a><br><br>
  <a href="/location/Central Florida">Central Florida University</a><br><br>
  <a href="/location/Michigan State">Michigan State University</a><br><br>
  <a href="/location/University of Michigan">University of Michigan</a><br><br>
  <a href="/location/Central Michigan">Central Michigan University</a><br><br>
  <a href="/location/University of Hawaii">University of Hawaii</a><br><br>
<!--   <a href="/auth/facebook">Login For All of Your Friends and Yours Events!</a><br><br> -->
 <!--  <a href="/YourEvents">All the Events Relevant to You!(Bing Student)</a> -->

  <!-- <h3>Events from My Friends:</h3>
  <ol>
  {% for friend in friends %}
  	<li>{{loop.key}}</li><br>
  	<ul>
  		{% for info in friend %}
  			<li>{{info}}</li><br>
  		{% endfor%}
  	</ul>
  {% endfor %}
	</ol>
<h3>My Events:</h3>
<ol>
   {% for event in myEvents %}
  	<li>{{loop.key}}</li><br>
  	<ul>
  		{% for info in event %}
  			<li>{{info}}</li><br>
  		{% endfor%}
  	</ul>
  {% endfor %} -->
<!--  <li>	<img src= "{{event}}" alt="If you can see this, then there is no cover photo for this event." height="-50px" width="85%"></li><br> -->
  </ol>

{% endblock %}
